@font-face {
    font-family: SpaceGrotesk-Regular;
    src: url('../font/SpaceGrotesk-Regular.ttf');
}

@font-face {
    font-family: SpaceGrotesk-Medium;
    src: url('../font/SpaceGrotesk-Medium.ttf');
}

@font-face {
    font-family: SpaceGrotesk-SemiBold;
    src: url('../font/SpaceGrotesk-SemiBold.ttf');
}

@font-face {
    font-family: SpaceGrotesk-Bold;
    src: url('../font/SpaceGrotesk-Bold.ttf');
}

.org-font-regular{
    font-family: SpaceGrotesk-Regular;
}

.org-font-medium{
    font-family: SpaceGrotesk-Medium;
}

.org-font-semibold{
    font-family: SpaceGrotesk-SemiBold;
}

.org-font-bold{
    font-family: SpaceGrotesk-Bold;
}

body{
    font-family: SpaceGrotesk-Regular;
}

h1,h2,h3,h4,h5,h6{
    font-family: SpaceGrotesk-SemiBold;
}
.carousel-indicators [data-bs-target] {
    width: 21px !important;
    height: 0px !important;
    background-color: #000 !important;
    background-clip: border-box !important;
    margin-left:8px;
}
.ms-sm-0{
    margin-left: 0 !important;
}
.slick-slide {
      margin: 0 15px;
  }
 
 section.about-section{
     background-image:url('../img/about-image.png') ; 
     /*height: 32em;*/
     background-position: right;
     background-size: 50% 40em;
     background-clip: border-box;
     background-repeat: no-repeat;
     padding-top:1.8rem;
 }
 .about-us-text{
     font-size:39px ;
 }
 .testimonials-section{
     width:75rem;
     
 }
 .testimonial-wrap{
     padding-left:8rem;
     padding-right:8rem;
 }
 .what-we-do-text p{
     font-size:23px;
 }
 .what-we-do-right-text{
     width: 18em;line-height: 3;letter-spacing: 1px;
         padding-top: 4.5rem;
    margin-bottom: 5.6rem;
 }
 .what-we-do-left{
     width:75%;
 }
 #mobile-wwd{
     display:none !important;
 }
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .about-us-text{
     font-size:25px !important;
  }
  .about-us-btn{
    margin-left:36% !important;
    
  }
  section.about-section{
     background-image:none;
  }
  .testimonials-section{
     width:26rem;
     
  }
  .testimonial-wrap{
     padding-left:0;
     padding-right:0;
 }
  .what-we-do-left{
      width: 100%;
  }
  .what-we-do-text{
      padding: 40px !important;
  }
  .what-we-do-right{
      width:100%;
      display:block;
  }
  .flex-column-sm{
      flex-direction: column !important;
  }
  .ms-md-5{
    margin:0 !important;   
  }
  .w-sm-100{
      width:100%;
  }
  .w-sm-50{
      width:50%;
  }
  .what-we-do-right-text{
    margin-right: 5px;
    margin-top: 1rem;
    margin-bottom: -6rem;
    padding-top: 1.5rem;
  }
  .what-we-do-right-text {
    width: 21em;
    line-height: 3;
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-bottom: -7rem;
  }
  #footer-sec-logo{
      display:none;
  }
  .footer-copyright,.footer-meta{
      text-align: center !important;
  }
  .blog-slider{
      display:none !important;
  }
  #mobile-wwd{
      display:flex !important;
  }
  #desktop-wwd{
      display:none !important;
  }
}